<section class="page-full-section">

<app-header-wifence [back]="showBack"></app-header-wifence>
<div class="justify-content-center align-items-center bg-light-primary"
[class.blank-layout-container]="!isMobile" [class.blank-layout-container-mobile]="isMobile">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center" >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth fadeInUpSignUp p-4">
        <mat-card-content class="p-32">
          <div class="text-center pt-4 pb-5">
            <a [routerLink]="['/']">
              <img
                src="assets/img/black-logo.png"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>
          <div class="row wrap">
            <div>
                <h3>Update Password</h3>
                <p>Please Try New Password!</p>
            </div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit($event)">
              
                <div class="form-group  mt-2">
                    <!-- <input type="password" placeholder="New Password"   formControlName="password1"
                    class="form-control"  [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && fpwf['password1'].errors }">
                    @if (resetPasswordFormSubmitted && fpwf['password1'].errors) {
                        <div class="invalid-feedback">
                          @if (fpwf['password1'].errors['required']) {
                          <div>Password is required</div>
                          } @if (fpwf['password1'].errors['minlength']) {
                          <div>Password must be at least 6 characters</div>
                          } @if (fpwf['password1'].errors['maxlength']) {
                          <div>Username must not exceed 40 characters</div>
                          }
                        </div>
                        } -->
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Password</mat-label>
                          <input 
                            matInput 
                            [type]="hidePassword ? 'password' : 'text'" 
                            placeholder="Password" 
                            class="w-100" 
                            id="password1" 
                            formControlName="password1">
                          <!-- <button 
                            mat-icon-button 
                            matSuffix 
                            type="button" 
                            (click)="hidePassword = !hidePassword" 
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="!hidePassword"> -->
                            <mat-icon  matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer;"  >{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                          <!-- </button> -->
                          <mat-error 
                            class="ng-dirty ng-invalid" 
                            *ngIf="resetPasswordForm.get('password1')?.hasError('required') && (resetPasswordForm.get('password1')?.dirty || resetPasswordForm.get('password1')?.touched)">
                            Required.
                          </mat-error>
                          <mat-error *ngIf="resetPasswordForm.get('password1')?.hasError('pattern')  && (resetPasswordForm.get('password1')?.dirty || resetPasswordForm.get('password1')?.touched)">
                            Minimum 8 characters, with uppercase, lowercase, number, and special character
                          </mat-error>
                        </mat-form-field>
                </div>
                <div class="form-group mt-3">
                    <!-- <input
                      type="password"
                      placeholder="Confirm Password" 
                      formControlName="password2"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && fpwf['password2'].errors }"
                    />
                    @if (resetPasswordFormSubmitted && fpwf['password2'].errors) {
                    <div class="invalid-feedback">
                      @if (fpwf['password2'].errors['required']) {
                      <div>Confirm Password is required</div>
                      } @if (fpwf['password2'].errors['matching']) {
                      <div>Confirm Password does not match</div>
                      }
                    </div>
                    } -->
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Confirm Password</mat-label>
                      <input 
                        matInput 
                        [type]="hideConfirmPassword ? 'password' : 'text'" 
                        placeholder="Confirm Password" 
                        id="cpassword" 
                        class="w-100" 
                        formControlName="password2">
                      <!-- <button 
                        mat-icon-button 
                        matSuffix 
                        type="button" 
                        (click)="hideConfirmPassword = !hideConfirmPassword" 
                        [attr.aria-label]="'Hide confirm password'" 
                        [attr.aria-pressed]="!hideConfirmPassword"> -->
                        <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix  style="cursor: pointer;" >{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                      <!-- </button> -->
                      <mat-error 
                        class="ng-dirty ng-invalid" 
                        *ngIf="resetPasswordForm.get('password2')?.hasError('required') && (resetPasswordForm.get('password2')?.dirty || resetPasswordForm.get('password2')?.touched)">
                        Required.
                      </mat-error>
                      <mat-error 
                        class="ng-dirty ng-invalid" 
                        *ngIf="resetPasswordForm.hasError('matching') && (resetPasswordForm.get('password2')?.dirty || resetPasswordForm.get('password2')?.touched)">
                        Not Matching
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="d-flex justify-content-between pb-3 mt-5 mb-3">
                    <button pButton type="submit" label="Update password"  class="w-100 p-button-lg" [loading]="isLoading"
                            [ngClass]="resetPasswordForm.invalid ? 'disabled-button' : 'enabled-button'" 
                            [disabled]="resetPasswordForm.invalid" >
                    </button>
                  </div>
                  <!-- <button type="submit" mat-raised-button >Update password</button> -->
                  <div class="d-flex justify-content-between forgot-password">
                      <a class="back-home"  routerLink="/"><mat-icon>home</mat-icon> <span style="position: relative;top:-5px;">Back Home</span></a>
                      <a class="sign-in-lnk-btn" [routerLink]="['/sign-in']"><i class="icofont-edit link-icon"></i>Login Now?</a>
                  </div>
            </form>
          </div>
          <span class="d-block f-w-500 text-center mt-4 mb-3 show-accent">New to Work ifence?
            <a
              [routerLink]="['/sign-up']"
              class="text-decoration-none f-w-500 f-s-14 show-accent bold create-account-lnk-btn" >
              Create an account
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-work-ifence-footer></app-work-ifence-footer>

</section>










<!-- 

<div
    class="login-area"
    [class.dark-login-area]="themeService.isDark()"
>
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div [class.login-image]="!isMobile" [class.mobile-login-image]="isMobile">
                <img src="assets/images/background/login.jpg" alt="image">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0">
            <div class="login-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="login-form">
                            <div
                                class="logo"
                                [class.d-none]="themeService.isDark()"
                            >
                                <a routerLink="/">
                                    <img src="assets/img/black-logo.png" alt="image">
                                </a>
                            </div>
                            <div
                                class="logo d-none"
                                [class.d-block]="themeService.isDark()"
                            >
                                <a routerLink="/">
                                    <img src="assets/img/logo.png" alt="image">
                                </a>
                            </div>
                            <div>
                                <h3>Update Password</h3>
                                <p>Please Try New Password!</p>
                            </div>
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit($event)">
                              
                                <div class="form-group">
                                    <input type="password" placeholder="New Password"   formControlName="password1"
                                    class="form-control"  [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && fpwf['password1'].errors }">
                                    @if (resetPasswordFormSubmitted && fpwf['password1'].errors) {
                                        <div class="invalid-feedback">
                                          @if (fpwf['password1'].errors['required']) {
                                          <div>Password is required</div>
                                          } @if (fpwf['password1'].errors['minlength']) {
                                          <div>Password must be at least 6 characters</div>
                                          } @if (fpwf['password1'].errors['maxlength']) {
                                          <div>Username must not exceed 40 characters</div>
                                          }
                                        </div>
                                        }
                                </div>
                                <div class="form-group">
                                    <input
                                      type="password"
                                      placeholder="Confirm Password" 
                                      formControlName="password2"
                                      class="form-control"
                                      [ngClass]="{ 'is-invalid': resetPasswordFormSubmitted && fpwf['password2'].errors }"
                                    />
                                    @if (resetPasswordFormSubmitted && fpwf['password2'].errors) {
                                    <div class="invalid-feedback">
                                      @if (fpwf['password2'].errors['required']) {
                                      <div>Confirm Password is required</div>
                                      } @if (fpwf['password2'].errors['matching']) {
                                      <div>Confirm Password does not match</div>
                                      }
                                    </div>
                                    }
                                  </div>
                                  <button type="submit">Update password</button>
                                  <div class="d-flex justify-content-between forgot-password">
                                      <a routerLink="/"><i class="icofont-home"></i> Back Home</a>
                                      <a class="wif-link-btn" routerLink="/login"><i class="icofont-edit link-icon"></i>Login Now?</a>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->