<app-header [menuList]="pCategories"></app-header>
<div class="page-title-area item-bg1">
    <div id="errormask" class="errormask"></div> 
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Contact</li>
            </ul>
            <h2>Contact Us</h2>
        </div>
    </div>
</div>
<div
    class="contact-area pt-100 pb-100"
    [class.dark-contact-area]="themeService.isDark()"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Contact Us</span>
            <h2>Drop us Message for any Query</h2>
        </div>
        <div class="contact-form">
            <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <input
                              type="text"
                              placeholder="Full Name"
                              formControlName="fullname"
                              class="form-control"
                              [ngClass]="{ 'is-invalid': feedbackSubmitted && f['fullname'].errors }"
                            />
                            @if (feedbackSubmitted && f['fullname'].errors) {
                            <div class="invalid-feedback">
                              @if (f['fullname'].errors['required']) {
                              <div>Email is required</div>
                              } @if (f['fullname'].errors['fullname']) {
                              <div>Full Name is invalid</div>
                              }
                            </div>
                            }
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <input
                              type="text"
                              placeholder="Emain Id"
                              formControlName="email"
                              class="form-control"
                              [ngClass]="{ 'is-invalid': feedbackSubmitted && f['email'].errors }"
                            />
                            @if (feedbackSubmitted && f['email'].errors) {
                            <div class="invalid-feedback">
                              @if (f['email'].errors['required']) {
                              <div>Email is required</div>
                              } @if (f['email'].errors['email']) {
                              <div>Email is invalid</div>
                              }
                            </div>
                            }
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <input
                              type="text"
                              placeholder="Phone Number"
                              formControlName="phonenumber"
                              class="form-control"
                              [ngClass]="{ 'is-invalid': feedbackSubmitted && f['phonenumber'].errors }"
                            />
                            @if (feedbackSubmitted && f['phonenumber'].errors) {
                            <div class="invalid-feedback">
                              @if (f['phonenumber'].errors['required']) {
                              <div>Phone Number is required</div>
                              } @if (f['phonenumber'].errors['phonenumber']) {
                              <div>Phone Number is invalid</div>
                              }
                            </div>
                            }
                          </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input
                              type="text"
                              placeholder="Subject"
                              formControlName="subject"
                              class="form-control"
                              [ngClass]="{ 'is-invalid': feedbackSubmitted && f['subject'].errors }"
                            />
                            @if (feedbackSubmitted && f['subject'].errors) {
                            <div class="invalid-feedback">
                              @if (f['subject'].errors['required']) {
                              <div>Subject is required</div>
                              } @if (f['subject'].errors['subject']) {
                              <div>Subject is invalid</div>
                              }
                            </div>
                            }
                          </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea
                                  type="text"
                                  placeholder="Message"
                                  cols="30" rows="5"
                                  formControlName="message"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': feedbackSubmitted && f['message'].errors }"
                                ></textarea>
                                @if (feedbackSubmitted && f['message'].errors) {
                                <div class="invalid-feedback">
                                  @if (f['message'].errors['required']) {
                                  <div>Message is required</div>
                                  } @if (f['message'].errors['message']) {
                                  <div>Message is invalid</div>
                                  }
                                </div>
                                }
                              </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn" [class.disabled]="feedbackForm.invalid">
                            <i class='bx bx-paper-plane icon-arrow before'></i>
                            <span class="label">Send Message</span>
                            <i class="bx bx-paper-plane icon-arrow after"></i>
                        </button>
                    </div>
                    </div>
            </form>
        </div>
    </div>
    <div class="contact-bg-image">
        <img src="assets/img/map.png" alt="image">
    </div>
</div>

<section>
    <app-language-subscribe [isMobile]="isMobile" ></app-language-subscribe>
</section>
<app-footer></app-footer>