<div class="contact-form">
  <div class="container">
    <div class="form-card">
      @if (progressBarVisible) {
        <mat-progress-bar mode="indeterminate" color="primary" style="margin-bottom:16px;"></mat-progress-bar>
      }
      <form [formGroup]="serviceRequestForm">
        <div class="row">
          <div class="col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              @if (serviceRequestForm.controls['firstName'].hasError('required')) {
                <mat-error>
                  First Name is required.
                </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              @if (serviceRequestForm.controls['lastName'].hasError('required')) {
                <mat-error>
                  Last Name is required.
                </mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              @if (serviceRequestForm.controls['email'].hasError('required')) {
                <mat-error>
                  Email is required.
                </mat-error>
              }
              @if (serviceRequestForm.controls['email'].hasError('email')) {
                <mat-error>
                  Enter a valid email address.
                </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="col-md-6 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" formControlName="phone" />
              @if (serviceRequestForm.controls['phone'].hasError('required')) {
                <mat-error>
                  Phone number is required.
                </mat-error>
              }
              @if (serviceRequestForm.controls['phone'].hasError('pattern')) {
                <mat-error>
                  Enter a valid 10-digit phone number.
                </mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Request Type</mat-label>
              <mat-select formControlName="requestType">
                @for (type of requestTypes; track type) {
                  <mat-option [value]="type.value">
                    {{ type.label }}
                  </mat-option>
                }
              </mat-select>
              @if (serviceRequestForm.controls['requestType'].hasError('required')) {
                <mat-error>
                  Request type is required.
                </mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        @if (action == 'edit') {<div class="row">
          <div class="col-md-12 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                @for (statusItem of statusList; track statusItem) {
                  <mat-option [value]="statusItem.value">
                    {{ statusItem.label }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>}

        <div class="row">
          <div class="col-md-12 mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Request Description</mat-label>
              <textarea matInput formControlName="requestDescription" rows="7"></textarea>
              @if (serviceRequestForm.controls['requestDescription'].hasError('required')) {
                <mat-error>
                  Description is required.
                </mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        @if (action == 'edit') {
          <div class="text-end mt-3">
            <button mat-raised-button color="primary" type="button"
              [class.contact-form-submit-btn]="!serviceRequestForm.invalid"
              [disabled]="serviceRequestForm.invalid" (click)="onSave()">
              Save
            </button>
          </div>
        } @else {
          <div class="text-end mt-3">
            <button mat-raised-button color="primary" type="button"
              [class.contact-form-submit-btn]="!serviceRequestForm.invalid"
              [disabled]="serviceRequestForm.invalid" (click)="onSubmit()">
              Submit
            </button>
          </div>
        }
      </form>
    </div>
  </div>
</div>