
<div class="row pl-4 pr-4" style="height: 80% !important; min-width: 420px; max-width: 520px;">
    <div class="col-12"  >
        <form [formGroup]="bioForm" style="height: 65vh;margin-top:30px;" >
            <div class="row wrap">
                <div class="col-12 p-b-1">
                    <div class="detail-item profile-overview">
                        <img class="profile-avatar" [src]="getImageBase64()" alt="Avatar">
                        <div class="upload-section">
                          <input
                            type="file"
                            class="upload-input"
                            (change)="onFileSelected($event)"
                            #imageUpload
                            placeholder="Upload Image"
                            accept="image/*"
                          />
                          <button class="upload-btn" (click)="imageUpload.click()">Change Picture</button>
                        </div>
                        <!-- <h3>{{bioProfile().firstName}} {{bioProfile().lastName}}</h3> -->
                      </div>
                </div>
                <div class="col-12 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <input pInputText id="first_name" formControlName="first_name" class="w-100" />
                        <label for="first_name">First Name</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="bioForm.get('first_name')?.hasError('required') && (bioForm.get('first_name')?.dirty || bioForm.get('first_name')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-12 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <input pInputText id="last_name" formControlName="last_name" class="w-100" />
                        <label for="last_name">Last Name</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="bioForm.get('last_name')?.hasError('required') && (bioForm.get('last_name')?.dirty || bioForm.get('last_name')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-6 p-b-3 p-t-3 ">
                    <p-floatlabel variant="on" class="w-100">
                        <p-calendar id="dob" formControlName="dob" [maxDate]="max_Date" dateFormat="yy-mm-dd" class="w-100" inputId="dob-input"></p-calendar>
                        <label for="dob">Date of Birth</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="bioForm.get('dob')?.hasError('required') && (bioForm.get('dob')?.dirty || bioForm.get('dob')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-6 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <p-autoComplete 
                            formControlName="gender"
                            [suggestions]="genders"
                            (completeMethod)="filterGender($event)"
                            field="label"
                            [forceSelection]="true"
                            inputId="gender-input"
                            (onFocus)="onGenderFocus()"
                            (onSelect)="onGenderSelect()"
                            #genderAuto
                            class="w-100"
                        ></p-autoComplete>
                        <label for="gender-input">Gender</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="bioForm.get('gender')?.hasError('required') && (bioForm.get('gender')?.dirty || bioForm.get('gender')?.touched)">
                        Required.
                    </div>
                </div>
               
                <div class="col-12 m-t-4"  >
                    <div class="col-12 d-flex justify-content-end" style="margin-top: 32px;">
                        <p-button label="Save Profile"  [raised]="true" severity="danger" size="small"
                            (click)="saveBioForm()"  [disabled]="bioForm.invalid"  
                            [tooltip]="'Save profile'"
                            tooltipPosition="top"
                            tooltipStyleClass="custom-tooltip">
                            <ng-template pTemplate="icon">
                                <i class="pi pi-check"></i>
                            </ng-template>
                        </p-button>
                    </div>
                </div>
                
            </div>
        </form>
       
    </div>
</div>