
:host {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Force font on all elements within this component */
//   :host * {
//     font-family: 'Poppins', sans-serif;
//   }
  :host{
    .mat-icon{
        font-family: 'Material Icons' !important;
    }
  }

.motivation-courses-area {

    .job-card{
        padding: 15px;
        position: relative;
        border-radius: 10px;
        margin-bottom: 25px;
        transition: var(--transition);
        background-color: var(--whiteColor);
    }





    .section-title{
        h2{
            color: var(--secondaryColor);
        }
    }
    &.bg-FAF8F8 {
        background-color: #FAF8F8;
    }
    &.with-border-bottom-color {
        .container {
            border-bottom: 1px solid #E5E5E5;
        }
    }
    &.dark-motivation-courses-area {
        .single-home-job-box {
            background-color: var(--blackColor);
            border-color: #3a3737;
        
            .courses-content {
                .course-author {
                    span {
                        color: #a1a4ad;
                    }
                    .courses-rating {
                        .rating-total {
                            color: #a1a4ad;
                        }
                    }
                }
            }
            .courses-box-footer {
                border-top-color: #3a3737;
        
                ul {
                    li {
                        color: #a1a4ad;
                    }
                }
            }
            &:hover {
                border-color: var(--mainColor);
            }
        }
        .single-motivation-courses-item {
            border-color: #3a3737;
     
            .courses-content {
                .course-author {
                    span {
                        color: #a1a4ad;
                    }
                }
                .courses-rating {
                    .rating-total {
                        color: #a1a4ad;
                    }
                }
                .courses-box-footer {
                    border-top-color: #3a3737;
            
                    ul {
                        li {
                            color: #a1a4ad;
                        }
                    }
                }
            }
        }
        .courses-info-wrap {
            p {
                a {
                    &:hover {
                        color: var(--whiteColor);
                    }
                }
            }
        }
        &.bg-FAF8F8 {
            background-color: #020202;
        }
        &.with-border-bottom-color {
            .container {
                border-bottom-color: #3a3737;
            }
        }
    }
}
.single-home-job-box {
    background-color: var(--cardBackgroundCOlor);
    // border: 1px solid var(cardBorderColor);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
    transition: var(--transition);
    cursor: pointer;
    .courses-content {
        margin-top: 25px;
        h1{
            letter-spacing: -2px !important;
            text-align: center;
            font-weight: 600;
            font-size: xx-large;
            color: var(--secondaryColor);
        }
        .courses-tag {
            margin-bottom: 15px;

            a {
                font-size: var(--fontSize);
                font-weight: 600;
                text-transform: uppercase;
                color: var(--blackColor2) !important;
            }
        }
        .share-wish-box {
            // border-top: 1px solid #f5f5f5;
            // padding-top: 20px;
            // margin-top: 22px;
    
            ul {
                list-style-type: none;
                display: flex;
                padding-left: 0;
                flex-wrap: wrap;
                align-items: center;
                margin: {
                    bottom: 0;
                    left: -7px;
                    right: -7px;
                };
                li {
                    color: var(--paragraphColor);
                    font-size: 25px;
                    font-weight: 400;
                    padding: {
                        left: 7px;
                        right: 7px;
                    };
                    i {
                        color: var(--blackColor2);
                        position: relative;
                        top: 1px;
    
                        &.bx-book-open {
                            top: 1.3px;
                        }
                    }
                }
                .share-icon {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                .save-icon {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
               
            }
        }
        .course-author {
            margin-bottom: 15px;

            img {
                width: 35px;
                height: 35px;
                margin-right: 5px;
            }
            span {
                color: var(--paragraphColor);
                font: {
                    size: 14.5px;
                    weight: 500;
                };
            }
            .courses-rating {
                .review-stars-rated {
                    color: #f2b827;
                    display: inline-block;
    
                    i {
                        color: #f2b827;
                        font-size: 14.5px;
                        margin-right: 2px;
                    }
                }
                .rating-total {
                    display: inline-block;
                    position: relative;
                    top: -1px;
                    left: 1px;
                    font-size: 13.2px;
                    color: var(--paragraphColor);
                }
            }
        }
        h3 {
            margin-bottom: 0;
            line-height: 1.5;
            font: {
                size: 22px;
                weight: 600;
            };

            a{
                color: var(--blackColor) !important;
                text-decoration: none !important;
            }
        }
    }
    .courses-box-footer {
        border-top: 1px solid #f5f5f5;
        padding-top: 20px;
        margin-top: 22px;

        ul {
            list-style-type: none;
            display: flex;
            padding-left: 0;
            flex-wrap: wrap;
            align-items: center;
            margin: {
                bottom: 0;
                left: -7px;
                right: -7px;
            };
            li {
                color: var(--paragraphColor);
                font-size: 15px;
                font-weight: 400;
                padding: {
                    left: 7px;
                    right: 7px;
                };
                i {
                    color: var(--mainColor);
                    position: relative;
                    top: 1px;

                    &.bx-book-open {
                        top: 1.3px;
                    }
                }
            }
            .students-number {
                flex: 0 0 37%;
                max-width: 37%;
            }
            .courses-lesson {
                flex: 0 0 34%;
                max-width: 34%;
            }
            .courses-time {
                flex: 0 0 29%;
                max-width: 29%;
                text-align: end;
            }
        }
    }
    &:hover {
        transform: translateY(-5px);
        border: 1px solid var(--blackColor2);
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.192) !important;
        transition: all .3s cubic-bezier(0,0,.5,1) !important;
        .courses-content {
            h3 {
                a {
                    color: var(--blackColor) !important;
                }
            }
        }
    }
}
.single-motivation-courses-item {
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    transition: var(--transition);

    .courses-image {
        position: relative;

        img {
            border-radius: 10px;
        }
        .price {
            display: inline-block;
            height: 70px;
            width: 90px;
            line-height: 70px;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            border-radius: 67% 33% 62% 38% / 65% 35% 65% 35%;
            transition: var(--transition);
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    }
    .courses-content {
        padding: 25px 25px 25px;

        .course-author {
            margin-bottom: 15px;

            img {
                width: 35px;
                height: 35px;
                margin-right: 5px;
            }
            span {
                color: var(--paragraphColor);
                font: {
                    size: 14.5px;
                    weight: 500;
                };
            }
        }
        h3 {
            margin-bottom: 15px;
            line-height: 1.5;
            font: {
                size: 20px;
                weight: 600;
            };
            a{
                color: var(--blackColor) !important;
            }
        }
        .courses-rating {
            .review-stars-rated {
                color: #f2b827;
                display: inline-block;

                i {
                    color: #f2b827;
                    font-size: 14.5px;
                    margin-right: 2px;
                }
            }
            .rating-total {
                display: inline-block;
                position: relative;
                top: -1px;
                left: 1px;
                font-size: 13.2px;
                color: var(--paragraphColor);
            }
        }
        .courses-box-footer {
            border-top: 1px solid #f5f5f5;
            padding-top: 18px;
            margin-top: 18px;
    
            ul {
                list-style-type: none;
                display: flex;
                padding-left: 0;
                flex-wrap: wrap;
                align-items: center;
                margin: {
                    bottom: 0;
                    left: -7px;
                    right: -7px;
                };
                li {
                    color: var(--paragraphColor);
                    font-size: 15px;
                    font-weight: 400;
                    padding: {
                        left: 7px;
                        right: 7px;
                    };
                    i {
                        color: var(--mainColor);
                        position: relative;
                        top: 1px;
    
                        &.bx-book-open {
                            top: 1.3px;
                        }
                    }
                }
                .students-number {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                .courses-lesson {
                    flex: 0 0 50%;
                    max-width: 50%;
                    text-align: end;
                }
            }
        }
    }
    &:hover {
        transform: translateY(-5px);

        .courses-content {
            h3 {
                a {
                    color: var(--mainColor) !important;
                }
            }
        }
    }
}
.courses-info-wrap {
    text-align: center;
    margin-top: 10px;

    p {
        max-width: 630px;
        margin: {
            left: auto;
            right: auto;
            bottom: 0;
        };
        a {
            color: var(--mainColor);
            font-weight: 600;

            &:hover {
                text-decoration: underline;
                color: var(--blackColor);
            }
        }
    }
}


.job-feed-item{
    background-color: #f5f4f4 !important;
    box-shadow: 0px 1px 1px 0px rgb(10 27 57 / 20%);
    border-radius: 5px 5px 0 0 !important;
    transition: var(--transition) !important;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif !important;
    max-height: 200px !important;
    min-height: 200px !important;
    overflow: hidden;
    border: 1px solid #f5f4f4;
    border-radius: 9px !important;
    margin-bottom: 15px;
    .box-primary-shade {
        background-color: var(--mainColor5);
        font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif !important;
         display: inline-block;
        text-align: center;
        line-height: 1;
        color: var(--mainColor);;
       -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        padding: 8px;
        border-radius: 5px;
        margin-top: 10px;

        .company-name{
            font-weight: 600 !important;
            letter-spacing: 1px !important;
          }
      }
   
    mat-card-title{
      font-size: medium !important;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      position: relative;
      top: 10px !important;
      max-width: 100%;
        cursor: pointer;
      &:hover{
        text-decoration: underline;
        color: var(--mainColor);
    
      }
    }
  
    mat-card-subtitle{
        font-weight: 600;
        font-size: 14px;
      text-transform: uppercase !important;
      color: var(--secondaryColor);;
      font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif !important;
      position: relative;
      top: 10px;
    }

    .job-card-icon{
        font-size: x-large !important;
        color: #888686;
        cursor: pointer;
        &:hover{
            color: var(--mainColor);
        }
    }

    &:hover{
        border: 1px solid #b0b0b0;
        background-color: #f1f1f149 !important;
    }
  }

 
  .job-open-button{
    cursor: pointer;
    &:hover{
        // transform: rotateY(-180deg);
    }
  }

  .see-all-openings{
    color: var(--secondaryColor);
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        color: var(--mainColor);
    }
  }

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-home-job-box {
        padding: 20px;

        .courses-image {
            .price {
                height: 55px;
                width: 70px;
                line-height: 55px;
                font-size: 16px;
            }
        }
        .courses-content {
            .courses-tag {
                a {
                    font-size: 14px;
                }
            }
            .course-author {
                img {
                    width: 25px;
                    height: 25px;
                }
                span {
                    font-size: 12.5px;
                }
                .courses-rating {
                    .review-stars-rated {
                        i {
                            font-size: 12.5px;
                        }
                    }
                    .rating-total {
                        display: none;
                    }
                }
            }
            h3 {
                font-size: 18px;
                color: var(--blackColor) !important;

                a{
                    color: var(--blackColor) !important;
                    text-decoration: none !important;
                }
            }
        }
        .courses-box-footer {
            text-align: center;

            ul {
                li {
                    i {
                        display: block;
                        margin-bottom: 5px;
                    }
                }
                .courses-time {
                    text-align: center;
                }
            }
        }
    }
    .single-motivation-courses-item {
        .courses-content {
            h3 {
                font-size: 18px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-home-job-box {
        padding: 20px;

        .courses-image {
            .price {
                height: 55px;
                width: 70px;
                line-height: 55px;
                font-size: 16px;
            }
        }
        .courses-content {
            .courses-tag {
                a {
                    font-size: 14px;
                }
            }
            .course-author {
                img {
                    width: 25px;
                    height: 25px;
                }
                span {
                    font-size: 12.5px;
                }
                .courses-rating {
                    .review-stars-rated {
                        i {
                            font-size: 12.5px;
                        }
                    }
                    .rating-total {
                        font-size: 12.5px;
                    }
                }
            }
            h3 {
                font-size: 18px;
                a{
                    color: var(--blackColor) !important;
                    text-decoration: none !important;
                }
            }
        }
        .courses-box-footer {
            text-align: center;

            ul {
                li {
                    i {
                        display: block;
                        margin-bottom: 5px;
                    }
                }
                .courses-time {
                    text-align: center;
                }
            }
        }
    }
    .single-motivation-courses-item {
        .courses-content {
            h3 {
                font-size: 18px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-home-job-box {
        padding: 20px;

        .courses-image {
            .price {
                height: 55px;
                width: 70px;
                line-height: 55px;
                font-size: 16px;
            }
        }
        .courses-content {
            .courses-tag {
                a {
                    font-size: 14px;
                }
            }
            .course-author {
                img {
                    width: 25px;
                    height: 25px;
                }
                span {
                    font-size: 12.5px;
                }
                .courses-rating {
                    .review-stars-rated {
                        i {
                            font-size: 12.5px;
                        }
                    }
                    .rating-total {
                        display: none;
                    }
                }
            }
            h3 {
                font-size: 18px;

                a{
                    color: var(--blackColor) !important;
                    text-decoration: none !important;
                }
            }
        }
        .courses-box-footer {
            text-align: center;

            ul {
                li {
                    i {
                        display: block;
                        margin-bottom: 5px;
                    }
                }
                .courses-time {
                    text-align: center;
                }
            }
        }
    }
    .single-motivation-courses-item {
        .courses-content {
            padding: 20px;

            .course-author {
                span {
                    font-size: 13.5px;
                }
            }
            h3 {
                font-size: 18px;
            }
        }
    }

}

/* Min width 1200px to Max width 1275px */
@media only screen and (min-width: 1200px) and (max-width: 1275px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}