<div class="resume-form-container">
    <div class="col-12">
        <form [formGroup]="summaryForm">
            <div class="form-row form-row--single">
                <div class="field">
                    <label for="experience">Experience in years</label>
                    <mat-form-field class="w-100" appearance="outline" style="width: 100%;">
                        <mat-select id="experience" placeholder="Experience">
                            <mat-option *ngFor="let cat of experienceCategory" [value]="cat">
                                {{cat}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field" style="position: relative;">
                    <label for="profile_summary">Job Description</label>
                    <textarea id="profile_summary" pInputTextarea #profileSummary formControlName="profile_summary" 
                              rows="12" placeholder="Job Description" style="width: 100%;"></textarea>
                    <small class="hint-text">Note: Use Job description to find skills and ATS keywords.</small>
                    <div style="position: absolute; top: 5px; right: 10px; z-index: 10;">
                        @if(!is_summary_loading){
                            <button class="d-flex ai-btn" (click)="optimizeText()">
                               <p-icon class="pi pi-sparkles" style="font-size: medium;margin-right: 5px;"></p-icon>  USE BOTBRO
                            </button>
                        }
                        @if(is_summary_loading){
                            <button class="use-ai-btn d-flex">
                                <div class="progress-container">
                                    <div class="progress-bar"></div>
                                    <i class="pi pi-reddit pi-reddit-pos"></i>
                                </div>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>