<!-- <p-card class="profile-card">
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-between">
      <span>Resume Summary</span>
      <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="editSummary.emit()"></button>
    </div>
  </ng-template>
  <div [innerHTML]="summary" class="summary-content"></div>
</p-card> -->

<section class="summary-profile-section">
        <div class="header">
          <h2>Resume Summary</h2>
          <div class="actions">
            <button
              class="action-btn"
              [ngClass]="summary ? 'edit-btn' : 'add-btn'"
              [title]="summary ? 'Edit summary' : 'Add summary'"
              type="button"
              (click)="summary ? editSummary.emit() : addSummary.emit()"
            >
              <span class="pi" [ngClass]="(summary || dummySummary) ? 'pi-pencil' : 'pi-plus'"></span>
            </button>
          </div>
        </div>
        <div class="profile-details">
         <article class="summary-card">
           <div class="summary-content" [innerHTML]="summary || dummySummary"></div>
         </article>
        </div>
      </section>
      