<section style="height: 100vh;overflow-y:scroll;">
    <!-- <app-header-style-seven /> -->
<app-header-wifence ></app-header-wifence>

    <app-hometwelve-main-banner />

    <!-- <app-hometwelve-popular-courses /> -->

    <!-- <app-trending-categories /> -->

    <app-hometwelve-about />
    <app-hometwelve-blog />

    <app-boxes></app-boxes>
    <div class="motivation-partner-area bg-color-with-gradient ptb-100">
        <div class="container">
            <app-partner-style-one />
        </div>
    </div>

    <!-- <app-hometwelve-courses /> -->

    <!-- <app-our-growth /> -->

    <!-- <app-instructors-style-four /> -->

    <!-- <app-discover-ednuv /> -->

    <app-work-ifence-footer></app-work-ifence-footer>
</section>