<div [class.mobile-device]="isMobile" style="position: fixed;top:0px;bottom:0px;left:0px;right:0px;overflow-y:auto;overflow-x:hidden;" #pageSection>
    <div #sentinel style="position: absolute; top: 0;"></div>
    <app-header-wifence [isSticky]="isSticky"></app-header-wifence>
    <div class="course-area" [class.dark-course-area]="themeService.isDark()">
        <div >
            <div class="row g-0">
                <div class="story-content col-12">
                    <div class="course-list-header navigation-bar title-inline second-row">
                        <div class="inline-title">
                            <span class="sub-title">Discover Courses</span>
                            <h2 class="page-title">Course Central</h2>
                        </div>
                        <div class="right-controls"></div>
                    </div>
                    <div class="modern-title-section nav-buttons-row">
                        <div class="navigation-buttons">
                            <div class="nav-left">
                                <div class="nav-left-buttons">
                                    <a class="nav-button home-button" [routerLink]="['/']">
                                        <i class='bx bx-home'></i>
                                        Home
                                        <span class="nav-divider">|</span>
                                    </a>
                                    <a class="nav-button back-button" (click)="goBack($event)">
                                        <lucide-icon name="undo2"></lucide-icon>
                                        Back
                                    </a>
                                </div>
                            </div>
                            <div class="nav-second-row">
                                <div class="nav-right"></div>
                            </div>
                        </div>
                    </div>
                    <!-- <section class="mb-5 full-width-banner tight-banner-spacing"> -->
                        <app-hometwelve-main-banner />
                    <!-- </section> -->
                    <app-hometwelve-about />
                    <app-hometwelve-blog />
                    <app-boxes></app-boxes>
                    
                    <div class="motivation-partner-area bg-color-with-gradient ptb-100">
                        <!-- <div class="container"> -->
                            <app-partner-style-one />
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <app-work-ifence-footer></app-work-ifence-footer>
    </div>

</div>