<div class="resume-container">
    <div class="body-container">
        <header class="trigger-area header">
        <div class="header-left">
            <h1>{{resumeForm().contact.fname + ' ' + resumeForm().contact.lname}}</h1>
        </div>
        <div class="contact-details header-right">
            @if(resumeForm().contact.email.length > 0){
            <div style="width: 100%; float: right;display: flex;justify-content:right;align-items: center;">
                <!-- <i class="fa fa-envelope" style="margin-right: 5px;"></i> -->
                <p>{{resumeForm().contact.email}}</p><br>
            </div>
            }
            @if(resumeForm().contact.phone_number.length > 0){
                <div style="width: 100%; float: right;display: flex;justify-content:right;align-items: center;">
                    <!-- <i class="fa fa-phone" style="margin-right: 5px;"></i> -->
                    <p>{{resumeForm().contact.phone_number}}</p><br>
                </div>
            }
            @if(resumeForm().contact.linkedIn_profile.length > 0){
                <div style="width: 100%; float: right;display: flex;justify-content:right;align-items: center;">
                    <!-- <i class="fa fa-linkedin" style="margin-right: 5px;"></i> -->
                    <a href="{{resumeForm().contact.linkedIn_profile}}" style="color: black;text-decoration: none;"> <p>{{resumeForm().contact.linkedIn_profile}}</p></a><br>
                </div>
            }
            @if(resumeForm().contact.github_profile.length > 0){
                <div style="width: 100%; float: right;display: flex;justify-content:right;align-items: center;">
                    <!-- <i class="fa fa-github" style="margin-right: 5px;"></i> -->
                    <a  href="{{resumeForm().contact.github_profile}}" style="color: black;text-decoration: none;"> <p>{{resumeForm().contact.github_profile}}</p></a>
                </div>
            }
        </div>
        <div class="edit-context-menu"  *ngIf="!isPreview">
            <i class="fa fa-pencil show-green"  id="editContact" (click)="editSectionHandler('CONTACT', null)"  ></i>
        </div>
        </header>

        @if(resumeForm().profileSummary.profile_summary.length > 0){
        <div class="summary trigger-area">
            <h2 style="font-size: 16px;color: black;font-weight: 500;margin: 0;padding: 0;text-transform: uppercase;">Summary</h2>
            <p class="resume-summary" style="padding-top: 10px !important;">{{resumeForm().profileSummary.profile_summary}}</p>
            <div class="edit-context-menu"  *ngIf="!isPreview">
                <i class="fa fa-pencil show-green"  id="editContact" (click)="editSectionHandler('SUMMARY', null)"  ></i>
                <i class="fa fa-trash show-orange-red" (click)="confirmDeleteDialog('SUMMARY', null)"  ></i>
            </div>
        </div>
    }
    @if(resumeForm().skill.length > 0){
        <div class="summary trigger-area" style="padding-top: 10px;">
            <h2 style="font-size: 16px;color: black;font-weight: 500;margin: 0;padding: 0;text-transform: uppercase;">Skills</h2>
              <div class="trigger-area course-work">
                <div class="divider"></div>
                <div  class="course-work-section-content">
                    <ul class="course-work-list" style="margin: 0;padding: 0;padding-left: 0px;">
                      <!-- ${this.formatDefaultCourseWork(resumeForm().courseWork)} -->
                        <li class="course-work-lisit-item" *ngFor="let item of resumeForm().skill">{{item}}</li>
                    </ul>
                   
                    </div>
                <div class="edit-context-menu"  *ngIf="!isPreview">
                    <i class="fa fa-pencil show-green"  id="editContact" (click)="editSectionHandler('SKILLS', null)"  ></i>
                    <i class="fa fa-trash show-orange-red"   (click)="confirmDeleteDialog('SKILLS', null)"></i>
                </div>
              </div>
        </div>
    }
    @if(resumeForm().project.length > 0 && (!isPreview || checkProjectCondition())){
        <div class="template4-projects">
            <span class="template4-section-title">
                <span style="position: relative;float:left;text-transform: uppercase;font-size: 16px;">
                  Projects  
                </span>  
                <span *ngIf="!isPreview">
                  <i style="position: relative;float:left;left:20px;top:5px;" matTooltip="Add Project"  class="fa fa-plus show-green add-project-icon"  
                    id="editContact" (click)="addSectionHandler('PROJECT', '')"  >
                  </i> 
                </span>
              </span>
            <div class="divider"></div>
            <div class="project-item trigger-area" [ngStyle]="{'border-top': (index == 0) ? '1px solid rgba(101, 105, 109, .5)' : '0'}" *ngFor="let item of resumeForm().project;let index = index;">
                <div *ngIf="!isPreview || !item.isHideSelected" [class]="getDivClass(item)">
                <div class="project-item-header"  style="margin-top: 10px;">
                    <div class="project-item-header-left">
                        <a href="{{item.project_link}}"><strong>{{item.project_name}}</strong></a>
                    </div>
                    <div class="project-item-header-right">
                        <!-- <p><strong>January 2020 - March 2021</strong></p> -->
                    </div>
                </div>
                <div class="project-bullets">
                    <ul>
                        <li *ngFor="let des of item.description">{{des}}</li> 
                    </ul>
                </div>
            </div>
            <div class="edit-context-menu"  *ngIf="!isPreview">
                <i class="fa fa-pencil show-green"  id="editContact" (click)="editSectionHandler('PROJECT', item)"  ></i>
                <i class="fa fa-trash show-orange-red"   (click)="confirmDeleteDialog('PROJECT', item)"></i>
                @if(item.isHideSelected){
                  <i class="fa fa-eye-slash" aria-hidden="true" (click)="unHideSectionElement('PROJECT', item)"></i>
                }
                @else{
                  <i class="fa fa-eye" (click)="hideSectionElement('PROJECT', item)"></i>
                }
                <i class="fa fa-arrow-up"  (click)="moveObjectById('PROJECT', item.id, 'up')" ></i>
                <i class="fa fa-arrow-down"  (click)="moveObjectById('PROJECT', item.id, 'down')" ></i>
            </div>
            </div>
        </div>
    }
    @if(resumeForm().experience.length > 0 && (!isPreview || checkExperienceCondition())){
        <div class="template4-experience">
            <span class="template4-section-title">
                <span style="position: relative;float:left;text-transform: uppercase;font-size: 16px;">
                  Experience  
                </span>  
                <span *ngIf="!isPreview">
                  <i style="position: relative;float:left;left:20px;top:5px;" matTooltip="Add Experiance"  class="fa fa-plus show-green add-education-icon"  
                    id="editContact" (click)="addSectionHandler('EXPERIENCE', '')"  >
                  </i> 
                </span>
              </span>
            <div class="divider"></div>
            <div class="experience-item trigger-area" [ngStyle]="{'border-top': (index == 0) ? '1px solid rgba(101, 105, 109, .5)' : '0'}" *ngFor="let item of resumeForm().experience;let index = index;">
                <div *ngIf="!isPreview || !item.isHideSelected" [class]="getDivClass(item)">
                <div class="experience-item-header"  style="margin-top: 10px;">
                    <div class="experience-item-header-left">
                        <p style="color: black;"><strong>{{item.position_title}}</strong></p>
                        <p>{{item.company_name}}</p>
                    </div>
                    <div class="experience-item-header-right">
                        <p style="color: black;"><strong>{{item.start_date}} - {{item.end_date}}, {{item.location}}</strong></p>
                    </div>
                </div>
                <div class="experience-bullets">
                    <ul>
                        <li *ngFor="let des of item.description">{{des}}</li> 
                    </ul>
                </div>
                </div>
                <div class="edit-context-menu menuFadeInUp" *ngIf="!isPreview">
                    <i class="fa fa-pencil show-green"  id="editContact" (click)="editSectionHandler('EXPERIENCE', item)"  ></i>
                    <i class="fa fa-trash show-orange-red"   (click)="confirmDeleteDialog('EXPERIENCE', item)"></i>
                    @if(item.isHideSelected){
                      <i class="fa fa-eye-slash" aria-hidden="true" (click)="unHideSectionElement('EXPERIENCE', item)"></i>
                    }
                    @else{
                      <i class="fa fa-eye" (click)="hideSectionElement('EXPERIENCE', item)"></i>
                    }
                    <i class="fa fa-arrow-up"  (click)="moveObjectById('EXPERIENCE', item.id, 'up')" ></i>
                    <i class="fa fa-arrow-down"  (click)="moveObjectById('EXPERIENCE', item.id, 'down')" ></i>
                </div>
            </div>

        </div>
    }
    @if(resumeForm().education.length > 0 && (!isPreview || checkEducationCondition())){
        <div class="template4-education">
            <span class="template4-section-title">
                <span style="position: relative;float:left;text-transform: uppercase;font-size: 16px;">
                    Education  
                </span>  
                <span *ngIf="!isPreview">
                  <i style="position: relative;float:left;left:20px;top:5px;" matTooltip="Add Education"  class="fa fa-plus show-green add-education-icon"  
                    id="editContact" (click)="addSectionHandler('EDUCATION', '')"  >
                  </i> 
                </span>
              </span>
            <div class="divider"></div>
            <div class="education-details trigger-area" [ngStyle]="{'border-top': (index == 0) ? '1px solid rgba(101, 105, 109, .5)' : '0'}" *ngFor="let item of resumeForm().education;let index = index;">
                <div class="education-details" *ngIf="!isPreview || !item.isHideSelected" [class]="getDivClass(item)"  style="margin-top: 10px;">
                <p><strong>{{item.degree}}, {{item.field_of_study}}</strong></p>
                <p>{{item.school_name}} | {{item.graduation_date}}</p>
                </div>
                <div class="edit-context-menu"  *ngIf="!isPreview">
                    <i class="fa fa-pencil show-green"  id="editContact" (click)="editSectionHandler('EDUCATION', item)"  ></i>
                    <i class="fa fa-trash show-orange-red"  (click)="confirmDeleteDialog('EDUCATION', item)" ></i>
                    @if(item.isHideSelected){
                      <i class="fa fa-eye-slash" aria-hidden="true" (click)="unHideSectionElement('EDUCATION', item)"></i>
                    }
                    @else{
                      <i class="fa fa-eye" (click)="hideSectionElement('EDUCATION', item)"></i>
                    }
                    <i class="fa fa-arrow-up"  (click)="moveObjectById('EDUCATION', item.id, 'up')" ></i>
                    <i class="fa fa-arrow-down"  (click)="moveObjectById('EDUCATION', item.id, 'down')" ></i>
                </div>
            </div>
        </div>
    }
    </div>
    <footer style="padding-top: 100px;padding-bottom:30px;">
        <div class="row">
            <div class="text-left">
                <p class="company-name-in-footer">www.workifence.com</p>
            </div>
            <div>

            </div>
        </div>
    </footer>
</div>