<section
    class="services-area ptb-70"
    [class.dark-services-area]="themeService.isDark()"
>
    <div class="container">
        <div class="section-title">
            <!-- <span class="sub-title">Education for everyone</span> -->
            <h2>Let’s talk about the job application process.​</h2>
            <p>Large companies often utilize AI for resume screening to efficiently handle the high volume of job applications they receive.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-analytics"></i>
                    </div>
                    <h3 class="mt-0">Keyword Matching</h3>
                    <p>AI systems scan resumes for keywords from job descriptions to filter out irrelevant resumes and identify those that match job criteria.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-anywhere"></i>
                    </div>
                    <h3 class="mt-0">Skill & Experience Analysis</h3>
                    <p>AI algorithms assess resume skills against job qualifications, assigning weights to prioritize candidates closely matching the requirements.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-graduated"></i>
                    </div>
                    <h3 class="mt-0">Natural Language Processing</h3>
                    <p>AI employs NLP for contextual understanding in resumes, assessing candidate proficiency. It identifies synonyms, refining screening accuracy.</p>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-padlock"></i>
                    </div>
                    <h3>Lifetime Access</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-launch"></i>
                    </div>
                    <h3>Start Ups</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="services-btn">
                    <a routerLink="/register" class="default-btn"><i class='bx bx-user-circle icon-arrow before'></i><span class="label">Get Started Today</span><i class="bx bx-user-circle icon-arrow after"></i></a>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div class="divider bg-e4feff"></div> -->
</section>