<div class="fury-list-table">
  @if (!hideHeader) {
    <div class="fury-list-header d-flex align-items-center gap-2 gap-sm-4">
      <div class="fury-list-name">{{ name }}</div>
      <div class="d-flex align-items-center flex-grow-1">
        <mat-icon class="fury-filter-input-icon">search</mat-icon>
        <input class="fury-filter-input flex-grow-1 w-100" #filter placeholder="Search&hellip;">
      </div>
      <button class="fury-column-filter" type="button" mat-icon-button [matMenuTriggerFor]="columnFilter">
        <mat-icon>filter_list</mat-icon>
      </button>
      <ng-content select=".actions"></ng-content>
    </div>
  }

  <mat-menu #columnFilter="matMenu" yPosition="below" xPosition="before">
    @for (column of columns; track column) {
      <div class="checkbox-item mat-menu-item"
        (click)="toggleColumnVisibility(column, $event)">
        <mat-checkbox [(ngModel)]="column.visible" class="checkbox" #checkbox (click)="$event.stopPropagation()">
          {{ column.name }}
        </mat-checkbox>
      </div>
    }
  </mat-menu>

  <ng-content></ng-content>
</div>
