.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    padding-top: 5rem;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 209px !important;
    transition: margin-left $transitionDuration;
    transition:  margin-left 2s ease; /* Smooth transition on width change */
}

.layout-main-container-icon {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    // padding: 7rem 2rem 2rem 4rem;
    padding: 4rem 1rem 1rem 2rem;
    transition: margin-left 2s ease;
}

.layout-main {
    // flex: 1 1 auto;
    width: 100% !important;
}
