<div
    class="sticky-header"
    [ngClass]="{'header-glossy': isSticky}"
>
    <div
        class="header-area transition"
        [ngClass]="{'active': isToggled}"
    >
    <div class="d-md-flex align-items-center justify-content-between">
        <div class="header-left-side d-flex align-items-center"></div>
        <div class="header-right-side d-flex align-items-center" style="margin-left:auto;">
            <button mat-icon-button (click)="openMenuSidenav.emit()" aria-label="Open menu options">
                <mat-icon>apps</mat-icon>
            </button>
        </div>
    </div>
    </div>
</div>
              
                
                    