<section class="page-full-section">

<app-header-wifence [back]="showBack"></app-header-wifence>
<div class=" justify-content-center align-items-center bg-light-primary"
[class.blank-layout-container]="!isMobile" [class.blank-layout-container-mobile]="isMobile">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center" >
    <div class="col-12 d-flex align-items-center">
      @if (!isForgotPassword){
        <mat-card class="boxed-auth fadeInUpSignUp">
          <mat-card-content class="p-32">
            <div class="text-center pt-4 pb-5">
              <a [routerLink]="['/']">
                <img
                  src="assets/img/black-logo.png"
                  class="align-middle m-2"
                  alt="logo"
                />
              </a>
            </div>
            <div class="row wrap mb-5">
              <div class="col-6">
                <span class="p-buttonset  w-100 text-center flex justify-content-center" style="align-items: center;
                align-content: center;
                display: block;
                border-radius: 5px;">
                  <button pButton pRipple label="Sign in with Google" type="button" icon="pi pi-google" 
                      *ngIf="!isMobile" class="p-button-text p-button-lg w-link-button" >
                    </button>
                    <button pButton pRipple label="Sign in with" type="button" icon="pi pi-google" 
                        *ngIf="isMobile" class="p-button-text p-button-lg w-link-button-mobile"  >
                    </button>
                </span>
              </div>
              <div class="col-6">
                <span class="p-buttonset w-100 text-center" style="align-items: center;
                align-content: center;
                display: block;
                border-radius: 5px;">
                    <button pButton pRipple label="Sign in with LinkedIn" type="button" icon="pi pi-linkedin" 
                      *ngIf="!isMobile" class="p-button-text p-button-lg w-link-button" >
                    </button>
                    <button pButton pRipple label="Sign in with" type="button" icon="pi pi-linkedin" 
                        *ngIf="isMobile" class="p-button-text p-button-lg w-link-button-mobile"  >
                    </button>
                </span>
              </div>
            </div>

            <div class="or-border m-t-30">or sign in with</div>

            <form class="m-t-30" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="row wrap">
                  <div class="col-12 col-md-6 mt-3">
                    <mat-form-field appearance="outline" class="w-100" >
                      <mat-label>User Name</mat-label>
                      <input matInput placeholder="User Name" formControlName="username">
                      <mat-icon 
                          [class.show-silver]="!loginForm.get('username')?.value && (!loginForm.get('username')?.dirty && !loginForm.get('username')?.touched)" 
                          [class.show-error]="loginForm.get('username')?.invalid"
                          [class.show-green]="!loginForm.get('username')?.invalid" matSuffix>
                          edit
                      </mat-icon>
                      <mat-error class="ng-dirty ng-invalid" *ngIf="loginForm.get('username')?.hasError('required') && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                        Required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6 mt-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Password</mat-label>
                      <input 
                        matInput 
                        [type]="hidePassword ? 'password' : 'text'" 
                        placeholder="Password" 
                        formControlName="password"
                      >
                      <!-- <button 
                        mat-icon-button 
                        matSuffix 
                        type="button" 
                        (click)="togglePasswordVisibility()"
                        aria-label="Toggle password visibility"
                      > -->
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                      <!-- </button> -->
                      <mat-error 
                        class="ng-dirty ng-invalid" 
                        *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                      >
                        Required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                <div *ngIf="loginError">
                  <div class="alert alert-danger" ><strong>Failed to sign in!</strong> Please check your credentials and try again.</div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center pb-3 mt-5 mb-3">
                <mat-checkbox class="remember-check" color="primary" formControlName="remember">
                  Remember Me
                </mat-checkbox>
                
                <span 
                  (click)="forgotPassword($event)"
                  class="f-w-600 text-decoration-none m-l-auto f-s-14 bold forgot-password-lnk-button">
                  Forgot Password ?
                </span>
              </div>
              <button pButton type="submit" label="Sign In"  
                [disabled]="loginForm.invalid" [ngClass]="loginForm.invalid ? 'disabled-button' : 'enabled-button'" 
                 class="w-100 p-button-lg login-form-button" >
              </button>
            </form>
            <span class="d-block f-w-500 text-center mt-4 mb-3 show-accent">New to Work ifence?
              <a
                [routerLink]="['/sign-up']"
                class="text-decoration-none f-w-500 f-s-14 show-accent bold create-account-lnk-btn" >
                <i class="bx bx-edit-alt link-icon"></i>
                Create an account
              </a>
            </span>
          </mat-card-content>
        </mat-card>
      }
      @if (isForgotPassword){
        <mat-card class="cardWithShadow boxed-auth fadeInUpSignUp">
          <mat-card-content class="p-32">
            <div class="text-center pt-4 pb-5">
              <a [routerLink]="['/']">
                <img
                  src="assets/img/black-logo.png"
                  class="align-middle m-2"
                  alt="logo"
                />
              </a>
            </div>
            <div>
                <h3>Password Help</h3>
                <p>Reset Your Password!</p>
            </div>
            <mat-progress-bar *ngIf="isActionInProgress && forgotPasswordFormSubmitted" color="primary" mode="indeterminate"></mat-progress-bar>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit($event)">

              <div class="row wrap streach-h-100">
                <div class="col-12 mt-3">
                  <mat-form-field appearance="outline" class="streach-h-100" >
                    <mat-label>Your User Name</mat-label>
                    <input matInput placeholder="Your User Name" formControlName="username">
                    <mat-icon 
                          [class.show-silver]="!fpwf['username']?.value && (!fpwf['username']?.dirty && !fpwf['username']?.touched)" 
                          [class.show-error]="fpwf['username']?.invalid"
                          [class.show-green]="!fpwf['username']?.invalid" matSuffix>
                          edit
                      </mat-icon>
                    <mat-error class="ng-dirty ng-invalid" *ngIf="fpwf['username'].errors && (fpwf['username']?.dirty || fpwf['username']?.touched)">
                      Username Is Required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 mt-3">
                  <mat-form-field appearance="outline" class="streach-h-100" >
                    <mat-label>Your Email</mat-label>
                    <input matInput placeholder="Your Email" formControlName="email">
                    <mat-icon 
                          [class.show-silver]="!fpwf['email']?.value && (!fpwf['email']?.dirty && !fpwf['email']?.touched)" 
                          [class.show-error]="fpwf['email']?.invalid"
                          [class.show-green]="!fpwf['email']?.invalid" matSuffix>
                          edit
                      </mat-icon>
                    <mat-error class="ng-dirty ng-invalid" *ngIf="fpwf['email'].errors && (fpwf['email']?.dirty || fpwf['email']?.touched)">
                      Email Is Required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <div *ngIf="resetErrorMessage">
                          <div class="alert alert-danger" ><strong>Sorry!</strong> {{resetErrorMessage}}</div>
                  </div>
                </div>
              </div>
                <button pButton type="submit" label="Reset Password"  
                  [disabled]="forgotPasswordForm.invalid" [ngClass]="forgotPasswordForm.invalid ? 'disabled-button' : 'enabled-button'" 
                  class="w-100 p-button-lg  mt-3" [loading]="isLoading" >
                </button>
                <div class="d-flex justify-content-between forgot-password mt-3 mb-3">
                    <a class="wif-link-btn show-accent bold"  routerLink="/"><i class="bx bx-home-circle link-icon"></i>Home</a>
                    <a class="wif-link-btn show-accent bold"  [routerLink]="['/sign-up']"><i class="bx bx-edit-alt link-icon"></i>Register</a>
                    <a class="wif-link-btn show-accent bold" (click)="switchToLogin($event)"><i class="bx bx-log-in-circle link-icon"></i>Login Now?</a>
                </div>
            </form>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>
<app-work-ifence-footer></app-work-ifence-footer>
<wif-progress-display *ngIf="isLoading" [message]="'Logging in Please wait...'"></wif-progress-display>
</section>
