<div
    class="testimonials-slides"
>
    <owl-carousel-o [options]="testimonialsSlides">
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    Workifence made my job search so much easier! The resume builder helped me craft a standout resume, and the job tracker kept all my applications organized in one place. What really stood out was how it recommended top-rated courses nearby to boost my skills. Thanks to Workifence, I landed my next role faster than I expected!
                </p>

                <div class="info">
                    <img src="assets/img/user1.jpg" class="shadow rounded-circle" alt="image">
                    <h3>John Smith</h3>
                    <span>Full Stack Developer</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    As a recent graduate, I had no idea where to start with job applications. Workifence guided me every step of the way — from building a professional resume to tracking my applications with ease. I also discovered beginner-friendly courses near me that helped boost my confidence. It’s the perfect platform for anyone starting their career!
                </p>

                <div class="info">
                    <img src="assets/img/user2.jpg" class="shadow rounded-circle" alt="image">
                    <h3>Sarah Taylor</h3>
                    <span>Devops Engineer</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
                <p>
                    “Workifence was a game-changer for me as a Computer Science graduate entering the job market. It helped me create a strong resume, track all my job applications in one place, and even suggested beginner-friendly courses nearby. With Workifence, I felt supported and confident every step of the way.”
                </p>
                <div class="info">
                    <img src="assets/img/user3.jpg" class="shadow rounded-circle" alt="image">
                    <h3>David Warner</h3>
                    <span>Sales Force Developer</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-testimonials-item">
               <p>
                    “After spending years in the industry, I wanted a platform that could help me take the next step in my career. Workifence offered exactly that — a smart resume builder, seamless job application tracking, and course recommendations tailored to my profile and location. It streamlined everything and helped me confidently transition into a more senior role.”
                </p>
                <div class="info">
                    <img src="assets/img/user4.jpg" class="shadow rounded-circle" alt="image">
                    <h3>James Anderson</h3>
                    <span>Automation Test Lead </span>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>