<section class="admin-shell">
  <div class="admin-shell__header">
    <div>
      <div class="admin-shell__title">{{ title }}</div>
      @if (subtitle) {
        <div class="admin-shell__subtitle muted">{{ subtitle }}</div>
      }
    </div>
    <div class="admin-shell__header-actions">
      <ng-content select="[header-actions]"></ng-content>
    </div>
  </div>

  <div class="admin-shell__filters">
    <ng-content select="[filters]"></ng-content>
  </div>

  <div class="admin-shell__content">
    @if (loading) {
      <div class="admin-shell__loading">
        <mat-spinner diameter="28"></mat-spinner>
      </div>
    }

    <ng-content select="[table]"></ng-content>
  </div>

  <mat-paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPage($event)"
  ></mat-paginator>
</section>
