<div class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/dashboard/workIfence_dashboard.png" class="shadow" alt="image">
                    <!-- <img src="assets/img/about/about2.jpg" class="shadow" alt="image"> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">Discover Our Dashboard</span>
                    <h2>Welcome to Your Ultimate Career Companion!</h2>
                    <h6>Manage your job applications seamlessly, modify your resumes effortlessly, and access the guidance required for a successful career journey. Unleash the full potential of your job search with our comprehensive dashboard. Start your journey with us and redefine your career narrative!</h6>
                    <!-- <h6></h6> -->
                    <div class="option-buttons">
                        <button type="button" class="sign-up" [routerLink]="['/sign-in']" >Get Started</button>
                        <button type="button" class="dashboard-demo" [routerLink]="['/dashboard-intro']" >Dashboard Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>