<div id="loading-screen">
    <div class="loading-wrapper">
    
  
      <!-- File Animation -->
      <div class="file-stack">
        <div class="file">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="48px" height="48px">
            <path d="M6 2C4.9 2 4 2.9 4 4v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6H6zm7 1.5V9h5.5L13 3.5zM18 20H6V4h7v6h5v10z"/>
          </svg>
        </div>
        <div class="file">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="48px" height="48px">
            <path d="M6 2C4.9 2 4 2.9 4 4v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6H6zm7 1.5V9h5.5L13 3.5zM18 20H6V4h7v6h5v10z"/>
          </svg>
        </div>
        <div class="file">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="48px" height="48px">
            <path d="M6 2C4.9 2 4 2.9 4 4v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6H6zm7 1.5V9h5.5L13 3.5zM18 20H6V4h7v6h5v10z"/>
          </svg>
        </div>
      </div>
    <!-- Work iFence Logo Animation -->
    <div id="work-ifence-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 100" width="300" height="100" preserveAspectRatio="xMidYMid meet">
          <text x="50%" y="60" font-family="Poppins, sans-serif" font-size="40" fill="#ffffff" font-weight="bold" text-anchor="middle">Work iFence</text>
          <rect x="5" y="10" width="390" height="80" fill="none" stroke="#f05b45" stroke-width="4">
            <animate attributeName="stroke-dasharray" from="0,500" to="500,0" dur="2s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>
      <!-- Loading Text -->
      <p class="loading-text">Loading Please wait...</p>
    </div>
  </div>
  