
<div class="row pl-4 pr-4" style="height: 80% !important;">
    <div class="col-12"  >
        <form [formGroup]="addressForm" style="height: 65vh;margin-top:30px;" >
            <div class="row wrap">
                <div class="col-12 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <input pInputText id="address_name" formControlName="address_name" class="w-100" />
                        <label for="address_name">Address Name</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="addressForm.get('address_name')?.hasError('required') && (addressForm.get('address_name')?.dirty || addressForm.get('address_name')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-12 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <input pInputText id="address_line1" formControlName="address_line1" class="w-100" />
                        <label for="address_line1">Address Line 1</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="addressForm.get('address_line1')?.hasError('required') && (addressForm.get('address_line1')?.dirty || addressForm.get('address_line1')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-12 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <input pInputText id="address_line2" formControlName="address_line2" class="w-100" />
                        <label for="address_line2">Address Line 2</label>
                    </p-floatlabel>
                </div>
                <div class="col-12 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <input pInputText id="city" formControlName="city" class="w-100" />
                        <label for="city">City</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="addressForm.get('city')?.hasError('required') && (addressForm.get('city')?.dirty || addressForm.get('city')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-6 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <p-dropdown id="country" formControlName="country" [options]="countries" optionLabel="name" optionValue="name" class="w-100" ></p-dropdown>
                        <label for="country">Country</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="addressForm.get('country')?.hasError('required') && (addressForm.get('country')?.dirty || addressForm.get('country')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-6 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <p-dropdown id="state" formControlName="state" [options]="states" class="w-100" showClear autoDisplayFirst="false"></p-dropdown>
                        <label for="state">State</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="addressForm.get('state')?.hasError('required') && (addressForm.get('state')?.dirty || addressForm.get('state')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-12 p-b-3 p-t-3">
                    <p-floatlabel variant="on" class="w-100">
                        <input pInputText id="zipcode" formControlName="zipcode" class="w-100" />
                        <label for="zipcode">Zipcode</label>
                    </p-floatlabel>
                    <div class="p-error ng-dirty ng-invalid" *ngIf="addressForm.get('zipcode')?.hasError('required') && (addressForm.get('zipcode')?.dirty || addressForm.get('zipcode')?.touched)">
                        Required.
                    </div>
                </div>
                <div class="col-12 m-t-2 text-end text-right"  >
                    <p-button label="Primary"  [raised]="true" severity="danger" size="small"
                        (click)="saveAddressForm()"  [disabled]="addressForm.invalid"  
                        [tooltip]="'Save Address'"
                        tooltipPosition="top"
                        tooltipStyleClass="custom-tooltip">
                            <ng-template pTemplate="content" >
                                <p-icon class="pi pi-check" ></p-icon>
                                Save Address
                            </ng-template>
                    </p-button>
                </div>
                
            </div>
        </form>
       
    </div>
</div>