
<div class="row pl-4 pr-4" style="height: 100% !important;overflow-y: auto;">
    <div class="col-12"  >
        <div class="row wrap">
            @for (template of templates; track template) {
                <div class="col-6 p-b-1 p-t-2" (click)="selectTemplateHandler($event, template)">
                    <span class="template-name">{{template.name}}</span>
                    <div class="template-image" [class.resume-selected]="template.id === resumeForm().template_details.id" >
                        <span  class="d-block">
                            <img style="max-width:100%;margin-top:10px;" [src]="template.imgPath" alt="image">
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>