<div
    class="hero-banner bg-white"
    [class.dark-hero-banner]="themeService.isDark()"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-content black-color">
                            <span class="sub-title">How It Works</span>
                            <h1>Compete.</h1>
                            <h1>Collaborate.</h1>
                            <h1>Grow.</h1>
                            <p>Discover academic competitions effortlessly with Workifence. 
                                Simply browse, search, and explore competitions by subject, level, or region. Your academic journey starts here!</p>
                            <div class="btn-box">
                                <form>
                                    <input type="text" class="input-search" placeholder="What do you want to learn?">
                                    <button type="button">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-image text-center">
                            <img src="assets/img/banner-img3.jpeg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>