<div class="job-tracker" style="height: 92vh; overflow: hidden;">
    <div class="resume-container">
  <h1 class="title" style="padding-left: 20px;">Profile Tracker</h1>
       <p-drawer header="Left Drawer" [(visible)]="visible1" position="left">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
          </p>
      </p-drawer>


            <p-drawer header="Edit Profile" [(visible)]="visible2" position="right" (onHide)="closeFormEditor()">
                <ng-container *ngIf="showBioFormEditor">
                    <app-bio-form-editor (actionInProgress)="actionInProgressStarts()" (formSaved)="saveForm()" (formClosed)="closeFormEditor()"></app-bio-form-editor>
                </ng-container>
                <ng-container *ngIf="showLoginFormEditor">
                    <app-login-form-editor (actionInProgress)="actionInProgressStarts()" (formSaved)="saveForm()" (formClosed)="closeFormEditor()"></app-login-form-editor>
                </ng-container>
                <ng-container *ngIf="showAddressFormEditor">
                    <app-address-form-editor (actionInProgress)="actionInProgressStarts()" (formSaved)="saveForm()" (formClosed)="closeFormEditor()"></app-address-form-editor>
                </ng-container>
            </p-drawer>

    <p-drawer header="Top Drawer" [(visible)]="visible3" position="top" [style]="{ height: 'auto' }">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
          </p>
      </p-drawer>

    <p-drawer header="Bottom Drawer" [(visible)]="visible4" position="bottom" [style]="{ height: 'auto' }">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
          </p>
      </p-drawer>
      <div class="flex gap-2 justify-center">
          <p-button type="button" (click)="visible1 = true" icon="pi pi-arrow-right" />
          <p-button type="button" (click)="visible2 = true" icon="pi pi-arrow-left" />
          <p-button type="button" (click)="visible3 = true" icon="pi pi-arrow-down" />
          <p-button type="button" (click)="visible4 = true" icon="pi pi-arrow-up" />

          <p-tabs value="0" scrollable>
            <p-tablist>
                <ng-template #previcon>
                    <i class="pi pi-minus"></i>
                </ng-template>
                <p-tab value="0" class="flex items-center !gap-2">
                    <i class="pi pi-user-edit"></i>
                    <span class="font-bold whitespace-nowrap">Bio Profile</span>
                </p-tab>
                <p-tab value="1" class="flex items-center !gap-2">
                    <i class="pi pi-lock"></i>
                    <span class="font-bold whitespace-nowrap">Login Profile</span>
                </p-tab>
                <p-tab value="2" class="flex items-center !gap-2">
                    <i class="pi pi-book"></i>
                    <span class="font-bold whitespace-nowrap">Academic Profile</span>
                </p-tab>
                <p-tab value="3" class="flex items-center !gap-2">
                    <i class="pi pi-briefcase"></i>
                    <span class="font-bold whitespace-nowrap">Job Profile</span>
                </p-tab>
                <ng-template #nexticon>
                    <i class="pi pi-plus"></i>
                </ng-template>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <bio-profile-form (editBio)="showBioFormEditorWindow()"></bio-profile-form>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <login-profile-form (editLogin)="showLoginFormEditorWindow()"></login-profile-form>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <!-- Academic Profile form goes here if available -->
                    <p class="m-0">Academic Profile content goes here.</p>
                </p-tabpanel>
                <p-tabpanel value="3">
                    <address-profile-form (editAddress)="showAddressFormEditorWindow()"></address-profile-form>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
      </div>
    </div>
</div>