<app-header [menuList]="pCategories"></app-header>
<div class="page-title-area item-bg1">
    <div id="errormask" class="errormask"></div> 
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>FAQs</li>
            </ul>
            <h2>Frequently Asked Questions</h2>
        </div>
    </div>
</div>

<div
    class="faq-area"
    [class.dark-faq-area]="themeService.isDark()">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What is Naari Deals?</h3>
                    <p><strong>A:</strong> Naari Deals is an online platform that provides the best sales and deals found in real-time in Women's fashion.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: What kinds of deals does Naari Deals provide?</h3>
                    <p><strong>A:</strong> Naari Deals provides all deals that come into the category of Women's Fashion. Now Naari Deals caters to all subcategories in this field ranging from Women's shirts all the way to Women's heels.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Where does Naari Deals get its deals from?</h3>
                    <p><strong>A:</strong> Naari Deals gets its deals from a wide array of brands and merchants. We go through hundreds of websites looking for the very best of deals and sales so you don't have to!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Who finds the deals shown on Naari Deals?</h3>
                    <p><strong>A:</strong> We have a team of highly skilled members that are constantly looking for the next best deal just for you.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Can I post my own deals or deals I find on Naari Deals?</h3>
                    <p><strong>A:</strong> Unfortunately, this is not a feature we provide. Although we hope to incorporate this into our site soon enough!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>Q: Can I save deals for later on Naari Deals?</h3>
                    <p><strong>A:</strong> The wishlist feature is one that is under the works right now and will be released in our very next launch.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <app-language-subscribe [isMobile]="isMobile" ></app-language-subscribe>
</section>
<app-footer></app-footer>