
.page-title-area{
    .page-title-content{
        z-index: 70 !important;
        position: relative;
    }
}
#errormask{
    position: absolute !important;
    left: 0px !important; 
    right: 0px !important;
    margin: auto !important;
    bottom: 0px !important;
    top: 0px !important;
    z-index: 60 !important;
    background-color: rgba(0,0,0,0.4);
}

.faq-area {
    z-index: 70;
    background: #f8f8f8;
    position: relative;
    padding: {
        top: 145px;
        bottom: 145px;
    };


    .story-content {
        margin-top: -6px;
    
        p {
            margin-bottom: 30px;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
        h3 {
            margin-bottom: 12px;
            font: {
                size: 20px;
                weight: 600;
            };
        }
    }

    &.dark-faq-area {
        background: #000000;
        .story-content {
            margin-top: -6px;
        
            p {
                margin-bottom: 30px;
        
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h3 {
                margin-bottom: 12px;
                font: {
                    size: 20px;
                    weight: 600;
                };
            }
        }
    
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .faq-area {
        overflow: hidden;
        padding: {
            top: 110px;
            bottom: 110px;
        };
        .story-content {
            margin-top: 0;
            text-align: center;
    
            h3 {
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1275px */
@media only screen and (min-width: 1200px) and (max-width: 1275px) {}
