<footer class="footer-area">
    <!-- <div class="footer-blend-overlay"></div> -->
    <!-- <div class="floating-dots"></div> -->
    <!-- <div class="geometric-shapes"></div> -->
    <!-- <div class="footer-top-decoration"></div> -->
    <!-- <div class="left-gradient-blob"></div> -->
    <!-- <div class="glossy-streaks"></div> -->
    <div class="container">
        <div class="decorative-orb"></div>
        <div class="decorative-orb-2"></div>
        <div class="glossy-streaks"></div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Contact Us</h3>
                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank" role="link" tabindex="0">1015 Addison ln, <br>Johnscreek, GA 30005</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+11234567890" role="link" tabindex="0">+1 (470) 301 7675</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:hello&#64;ednuv.com" role="link" tabindex="0">support&#64;workifence.com</a>
                        </li>
                    </ul>
                    <ul class="social-link">
                        <li><a href="#" target="_blank" role="link" tabindex="0" aria-label="Facebook"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank" role="link" tabindex="0" aria-label="Twitter"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" target="_blank" role="link" tabindex="0" aria-label="Instagram"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" target="_blank" role="link" tabindex="0" aria-label="LinkedIn"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Support</h3>
                    <ul class="support-link">
                        <li><a routerLink="/about-us" role="link" tabindex="0"><i class='bx bx-info-circle'></i> About Us</a></li>
                        <li><a routerLink="/faq" role="link" tabindex="0"><i class='bx bx-question-mark'></i> FAQ's</a></li>
                        <li><a routerLink="/privacy" role="link" tabindex="0"><i class='bx bx-shield-quarter'></i> Privacy</a></li>
                        <li><a routerLink="/terms" role="link" tabindex="0"><i class='bx bx-file'></i> Terms</a></li>
                        <!-- <li><a routerLink="/">Support</a></li> -->
                        <!-- <li><a routerLink="/">Condition</a></li> -->
                        <!-- <li><a routerLink="/">Policy</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Useful Link</h3>
                    <ul class="useful-link">
                        <li><a routerLink="/job-openings" role="link" tabindex="0"><i class='bx bx-briefcase'></i> Latest Openings</a></li>
                        <li><a routerLink="/job-market" role="link" tabindex="0"><i class='bx bx-line-chart'></i> Job Market Blog</a></li>
                        <li><a routerLink="/training-options" role="link" tabindex="0"><i class='bx bx-book-alt'></i> Training Options</a></li>
                        <li><a routerLink="/tech-talks" role="link" tabindex="0"><i class='bx bx-conversation'></i> Tech Talks</a></li>
                        <!-- <li><a routerLink="/">Whitepaper</a></li> -->
                        <!-- <li><a routerLink="/">Web Development</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>News Letter</h3>
                    <div class="newsletter-box">
                        <p>To get the latest news and latest updates from us.</p>
                        <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()" class="newsletter-form">
                            <label>Your e-mail address:</label>
                            <div class="input-group-merged" [ngClass]="{'invalid': submittedForm && f['email'].errors, 'valid-input': f['email'].valid}">
                                <i class='bx bx-envelope input-icon'></i>
                                <input type="email" formControlName="email" class="input-newsletter" placeholder="Subscribe your email" name="EMAIL">
                                <i *ngIf="submittedForm && f['email'].errors" class='bx bx-error-circle validation-icon invalid'></i>
                                <button type="submit" [disabled]="newsletterForm.invalid" class="btn-merged" [ngClass]="{'valid-button': f['email'].valid}"><i class='bx bx-paper-plane'></i></button>
                            </div>
                            <div *ngIf="submittedForm && f['email'].errors" class="validation-message">
                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                                <div *ngIf="f['email'].errors['pattern']">Please enter a valid email address</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a routerLink="/" class="d-inline-block" role="link" tabindex="0"><img src="assets/img/logo.png" alt="image"></a>
            </div>
            <p class="copyright-text">
                <i class='bx bx-copyright'></i>2025 
                <a routerLink="/" target="_blank" role="link" tabindex="0"><i class='bx bx-building-house'></i> Work ifence</a> | All rights reserved.
            </p>
        </div>
    </div>
</footer>
<ngx-scrolltop></ngx-scrolltop>