<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Contact Us</h3>
                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">1015 Addison ln, Johnscreek, GA 30005</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+11234567890">+1 (470) 301 7675</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:hello&#64;ednuv.com">support&#64;workifence.com</a>
                        </li>
                    </ul>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <!-- <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Support</h3>
                    <ul class="support-link">
                        <li><a routerLink="/privacy">Privacy</a></li>
                        <li><a routerLink="/faq">FAQ's</a></li>
                        <!-- <li><a routerLink="/">Support</a></li> -->
                        <li><a routerLink="/terms">Terms</a></li>
                        <!-- <li><a routerLink="/">Condition</a></li> -->
                        <!-- <li><a routerLink="/">Policy</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Useful Link</h3>
                    <ul class="useful-link">
                        <li><a routerLink="/job-openings">Latest Openings</a></li>
                        <li><a routerLink="/job-market">Job Market Blog</a></li>
                        <li><a routerLink="/training-options">Training Options</a></li>
                        <li><a routerLink="/tech-talks">Tech Talks</a></li>
                        <!-- <li><a routerLink="/">Whitepaper</a></li> -->
                        <!-- <li><a routerLink="/">Web Development</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-3">
                    <h3>Newsletter</h3>
                    <div class="newsletter-box">
                        <p>To get the latest news and latest updates from us.</p>
                        <form class="newsletter-form">
                            <label>Your e-mail address:</label>
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a routerLink="/" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a>
            </div>
            <p><i class='bx bx-copyright   wow fadeInUp'  data-wow-offset="10" data-wow-duration="2s"></i>2025 <a routerLink="/" target="_blank">Work ifence</a>  | All rights reserved.</p>

        </div>
    </div>
</footer>

<ngx-scrolltop></ngx-scrolltop>