<div class="container">
    <div class="section-title glossy-section">
        <span class="sub-title">Latest Insights</span>
        <div class="title-container">
            <h2>Career Resources</h2>
            <div class="title-underline"></div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="resources-intro text-center">
                <p>
                    Explore our collection of expert advice, guides, and tools to help you succeed in every stage of your career journey.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="resources-filter">
                <ul>
                    <li class="active"><a href="#">All</a></li>
                    <li *ngFor="let category of resourceCategories">
                        <a href="#">{{category}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div *ngFor="let resource of resources" class="col-lg-4 col-md-6">
            <div class="resource-card card glossy-card">
                <div class="card-img">
                    <img [src]="resource.image" [alt]="resource.title">
                    <div class="card-category">
                        <span>{{resource.category}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-date">
                        <i class="material-icons">event</i>
                        <span>{{resource.date}}</span>
                    </div>
                    <h3><a href="#">{{resource.title}}</a></h3>
                    <p>{{resource.excerpt}}</p>
                    <a href="#" class="read-more-btn">
                        Read More
                        <i class="material-icons">east</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center mt-4">
        <div class="col-lg-8 text-center">
            <div class="resources-cta">
                <a href="#" class="view-all-btn">View All Resources</a>
                <div class="subscribe-note">
                    <i class="material-icons">notifications</i>
                    <span>Subscribe to our newsletter for weekly career tips and insights.</span>
                </div>
            </div>
        </div>
    </div>
</div>